#colorbox,#cboxOverlay,#cboxWrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9998;
	overflow: hidden;
}

#cboxOverlay {
	position: fixed;
	width: 100%;
	height: 100%;
}

#cboxMiddleLeft,#cboxBottomLeft {
	clear: left;
}

#cboxContent {
	position: relative;
}

#cboxLoadedContent {
	overflow: auto;
}

#cboxTitle {
	margin: 0;
}

#cboxLoadingOverlay,#cboxLoadingGraphic {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#cboxPrevious,#cboxNext,#cboxClose,#cboxSlideshow {
	cursor: pointer;
}

.cboxPhoto {
	float: left;
	margin: auto;
	border: 0;
	display: block;
}

.cboxIframe {
	width: 100%;
	height: 100%;
	display: block;
	border: 0;
}

#cboxOverlay {
	background: #fff;
}

#colorbox {
	
}

#cboxContent {
	margin-top: 0px;
	overflow: visible;
}

#cboxError {
	padding: 50px;
	border: 1px solid #ccc;
}

#cboxLoadedContent {
	background: #fbfbfb;
	padding: 0px;
	overflow: hidden;
}

#cboxLoadingGraphic {
	background: url(/images/loading.gif)
		no-repeat center center;
}

#cboxLoadingOverlay {
	background: #fbfbfb;
}

#cboxTitle {
	position: absolute;
	top: -22px;
	left: 0;
	color: #000;
}

#cboxCurrent {
	position: absolute;
	top: -22px;
	right: 205px;
	text-indent: -9999px;
}

#cboxSlideshow,#cboxPrevious,#cboxNext,#cboxClose {
	text-indent: -9999px;
	width: 20px;
	height: 20px;
	position: absolute;
	top: -20px;
}

#cboxPrevious {
	background-position: 0px 0px;
	right: 44px;
}

#cboxPrevious.hover {
	background-position: 0px -25px;
}

#cboxNext {
	background-position: -25px 0px;
	right: 22px;
}

#cboxNext.hover {
	background-position: -25px -25px;
}

#cboxClose {
	display: none;
	z-index: 0;
	width: 0px;
	height: 0px;
	right: 0px;
	top: 0px;
}

#cboxClose.hover {
	
}

.cboxSlideshow_on #cboxPrevious,.cboxSlideshow_off #cboxPrevious {
	right: 66px;
}

.cboxSlideshow_on #cboxSlideshow {
	background-position: -75px -25px;
	right: 44px;
}

.cboxSlideshow_on #cboxSlideshow.hover {
	background-position: -100px -25px;
}

.cboxSlideshow_off #cboxSlideshow {
	background-position: -100px 0px;
	right: 44px;
}

.cboxSlideshow_off #cboxSlideshow.hover {
	background-position: -75px -25px;
}

div.hoverscroll {
	position: relative;
}

div.hoverscroll div.listcontainer {
	overflow: hidden;
}

div.hoverscroll div.fixed-listcontainer {
	overflow: hidden;
	float: left;
}

div.hoverscroll ul.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

div.hoverscroll ul.list li.item {
	display: block;
	padding: 0;
}

div.hoverscroll.horizontal ul.list li.item {
	float: left;
}

div.hoverscroll.horizontal.rtl ul.list li.item {
	float: right;
}

.ui-widget-content {
	border: none;
}

div.hoverscroll div.arrow {
	position: absolute;
	float: none;
	background-color: #ccc;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.8;
	filter: alpha(opacity = 80);
}

div.hoverscroll div.fixed-arrow {
	display: block;
	float: left;
	background-color: #ccc;
	background-position: center;
	background-repeat: no-repeat;
}

div.hoverscroll div.arrow.left,div.hoverscroll div.arrow.right,div.hoverscroll div.fixed-arrow.left,div.hoverscroll div.fixed-arrow.right
	{
	top: 0px;
	width: 40px;
	height: 100%;
}

div.hoverscroll div.arrow.left,div.hoverscroll div.fixed-arrow.left {
	left: 0px;
}

div.hoverscroll div.arrow.right,div.hoverscroll div.fixed-arrow.right {
	right: 0px;
}

div.hoverscroll div.arrow.top,div.hoverscroll div.arrow.bottom,div.hoverscroll div.fixed-arrow.top,div.hoverscroll div.fixed-arrow.bottom
	{
	left: 0px;
	width: 100%;
	height: 40px;
}

div.hoverscroll div.arrow.top,div.hoverscroll div.fixed-arrow.top {
	top: 0px;
}

div.hoverscroll div.arrow.bottom,div.hoverscroll div.fixed-arrow.bottom
	{
	bottom: 0px;
}